<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SilaFluentServer" Language="1033" Version="1.0.1.0" Manufacturer="Tecan" UpgradeCode="5FDF7B65-B65C-4080-AF07-ACCE84FBBFAC">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
   
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="SilaFluentServerSetup">
            <Directory Id="Files" Name ="Files"/>
          </Directory>
          <Directory Id="DesktopFolder"/> 
        </Directory>
      </Directory>
  
      <Component Id="SilaFluentServer" Guid="9159E169-DC99-4252-A421-073FAE80C3F2" Directory="Files">
         <File Source="$(var.SilaFluentServer.TargetDir)SilaFluentServer.exe" KeyPath="yes" Name="SilaFluentServer.exe" />
         <Shortcut Id="Desktopshortcut" Directory="DesktopFolder" Name="SilaFluentServer" Advertise="yes" />
         <Shortcut Id="Shortcut" Directory="INSTALLFOLDER" Name="SilaFluentServer" Advertise="yes"/>
       </Component>  

      <ComponentGroup Id ="config" Directory="Files">  
        <Component Id ="SilaFluentServer.exe.config" Guid="AFA5EC40-8752-4744-9A5D-4BEC5591476C">
          <File Source="$(var.SilaFluentServer.TargetDir)SilaFluentServer.exe.config"/>
        </Component>     
      </ComponentGroup>

    <ComponentGroup Id="dll" Directory="Files">
      <Component Id="Contracts" Guid="073DC79A-9AAD-474F-9F7C-7DD0C5452FE1">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.VisionX.Sila2.Contracts.dll"/>
      </Component>
      <Component Id="SilaFluentController" Guid="9C81B5D5-8FA6-4EEC-8A5E-069B58553F5A">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.VisionX.Sila2.FluentController.dll"/>
      </Component>        
      <Component Id="Tecan.Sila2.Server.dll" Guid="093B9890-9F1B-4186-B8EE-DD8E3AD76D3D">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.Sila2.Server.dll"/>
      </Component>
      <Component Id="CommandLine.dll" Guid="78E30467-765E-4A11-AC7D-6AF5821BF0AC" >
        <File Source="$(var.SilaFluentServer.TargetDir)CommandLine.dll"/>
      </Component>
      <Component Id="Common.Logging.Core.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Common.Logging.Core.dll"/>
      </Component>
      <Component Id="Common.Logging.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Common.Logging.dll"/>
      </Component>
      <Component Id="Grpc.Core.Api.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Grpc.Core.Api.dll"/>
      </Component>
      <Component Id="Grpc.Core.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Grpc.Core.dll"/>
      </Component>
      <Component Id="grpc_csharp_ext.x64.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)grpc_csharp_ext.x64.dll"/>
      </Component>
      <Component Id="grpc_csharp_ext.x86.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)grpc_csharp_ext.x86.dll"/>
      </Component>
      <Component Id="Makaretu.Dns.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Makaretu.Dns.dll"/>
      </Component>
      <Component Id="Makaretu.Dns.Multicast.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Makaretu.Dns.Multicast.dll"/>
      </Component>
      <Component Id="Microsoft.Build.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Microsoft.Build.dll"/>
      </Component>
      <Component Id="Microsoft.Build.Framework.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Microsoft.Build.Framework.dll"/>
      </Component>
      <Component Id="Microsoft.CSharp.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Microsoft.CSharp.dll"/>
      </Component>
      <Component Id="protobufnet.Core.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)protobuf-net.Core.dll"/>
      </Component>
      <Component Id="protobufnet.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)protobuf-net.dll"/>
      </Component>
      <Component Id="SimpleBase.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)SimpleBase.dll"/>
      </Component>
      <Component Id="System.Buffers.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Buffers.dll"/>
      </Component>
      <Component Id="System.Collections.Immutable.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Collections.Immutable.dll"/>
      </Component>
      <Component Id="System.Memory.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Memory.dll"/>
      </Component>
      <Component Id="System.Net.IPNetwork.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Net.IPNetwork.dll"/>
      </Component>
      <Component Id="System.Numerics.Vectors.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Numerics.Vectors.dll"/>
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Runtime.CompilerServices.Unsafe.dll"/>
      </Component>
      <Component Id="System.Threading.Tasks.Dataflow.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Threading.Tasks.Dataflow.dll"/>
      </Component>
      <Component Id="Tecan.MAP.Contracts.Services.Logging.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.MAP.Contracts.Services.Logging.dll"/>
      </Component>
      <Component Id="Tecan.Sila2.Annotations.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.Sila2.Annotations.dll"/>
      </Component>
      <Component Id="Tecan.Sila2.Contracts.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.Sila2.Contracts.dll"/>
      </Component>
      <Component Id="Tecan.Sila2.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.Sila2.dll"/>
      </Component>
      <Component Id="Tecan.Sila2.Grpc.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.Sila2.Grpc.dll"/>
      </Component>
      <Component Id="Tecan.VisionX.API.ServiceInterfaces.V1.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.VisionX.API.ServiceInterfaces.V1.dll"/>
      </Component>
      <Component Id="Tecan.VisionX.API.V2.dll">
        <File Source="$(var.SilaFluentServer.TargetDir)Tecan.VisionX.API.V2.dll"/>
      </Component>
      <Component Id="System.ComponentModel.Composition.dll" Guid="4CEA4105-06B6-4BA1-9671-B7A8AE4F9C44">
        <File Source="$(var.SilaFluentServer.TargetDir)System.ComponentModel.Composition.dll"/>
      </Component>
      <Component Id="System.Configuration.dll" Guid="EFF57594-DFB9-44D9-9E4A-F8EED1597890">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Configuration.dll"/>
      </Component>
      <Component Id="System.Data.DataSetExtensions.dll" Guid="A9EF7A45-ABFB-4267-836F-568E8A6E6750">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Data.DataSetExtensions.dll"/>
      </Component>
      <Component Id="System.Data.dll" Guid="B1D51BC1-5DC1-4915-8A0C-CEA334D6DF40">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Data.dll"/>
      </Component>
      <Component Id="System.IO.Compression.dll" Guid="323FCE40-DAA1-4740-B51A-2061FA392749">
        <File Source="$(var.SilaFluentServer.TargetDir)System.IO.Compression.dll"/>
      </Component>
      <Component Id="System.Net.Http.dll" Guid="C3DDFC4B-F69C-4AF3-9CC5-3A109AC0FADA">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Net.Http.dll"/>
      </Component>
      <Component Id="System.Numerics.dll" Guid="65133220-E8E2-48C7-BA49-13E3178C9D82">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Numerics.dll"/>
      </Component>
      <Component Id="System.Runtime.Serialization.dll" Guid="0E10F44E-F2B4-42D8-AC97-877B16289BD3">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Runtime.Serialization.dll"/>
      </Component>
      <Component Id="System.ServiceModel.dll" Guid="954E3D3A-0235-4B3D-ACCD-8A29A74A3A4F">
        <File Source="$(var.SilaFluentServer.TargetDir)System.ServiceModel.dll"/>
      </Component>
      <Component Id="System.Threading.Channels.dll" Guid="CC7BAE58-D984-445D-9643-5BD53139818C">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Threading.Channels.dll"/>
      </Component>
      <Component Id="System.Threading.Tasks.Extensions.dll" Guid="143D6C38-A8E0-44DA-8ABC-57669A762C66">
        <File Source="$(var.SilaFluentServer.TargetDir)System.Threading.Tasks.Extensions.dll"/>
      </Component>
    </ComponentGroup> 

    <Feature Id="Complete" Title="SilaFluentServer" Level="1">
      <ComponentRef Id="SilaFluentServer" />
      <ComponentRef Id="Contracts"/>
      <ComponentRef Id="SilaFluentController" />
      <ComponentGroupRef Id="dll"/>
      <ComponentGroupRef Id="config"/>
    </Feature>
  </Product>
</Wix>
